
.content {
  code {
    #color: #c96d27;
    color: #c90f4a;

  }
  aside {
    &.wrap_request {
      padding-top: 1em;
      padding-bottom: 1em;
      text-shadow: 0 0 0 ;
      color:#fff;
      margin-top: 0;
      margin-bottom: 1.5em;
      background: #393939;
      line-height: 1.6;

      code {
        color: #c96d27;
        background-color: rgba(0, 0, 0, 0.2);
        font-weight: 400;

      }
    }
  }
}


  .content {
    pre {
      code {
        color: #c96d27 ;
      }
    }

  }


